<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/initial.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style980.css">
    <title></title>
  </head>
  <body>
    <div id="app">
      <header id="mainmenu">
        <div class="logo">
          <div class="img"></div>
          <h1>A BOOK APART</h1>
      </div>
      <ul class="menu1">
        <li v-for="list in mainMenu">
          <a v-bind:href="list.href">{{list.name}}</a>
        </li>
      </ul>
      <ul class="menu2">
        <li><div class="img"><img src="./img/sms.png" width="15px"></div></li>
        <li><a href="#">cart</a></li>
      </ul>
      </header>
      <section class="sec1">
        <div class="img"></div>
        <div class="textbox">
          <h3><strong>Luke Wroblewski</strong></h3>
          <h1><strong>Mobile First</strong></h1>
          <h2>Foreword by Jeffrey Zeldman</h3>
          <p>Data-driven strategies and battle<br></p>
          <p>tested techniqhes to help make you a<br></p>
          <p>master of mobile--and improve your<br></p>
          <p>non-mobile design, too</p>
        </div>
        <div class="bar">
          <div class="bI"></div>
          <div class="bI">
            <span><u>Notify me</u> when<br> books are available</span>
          </div>
          <div class="bI"></div>
          <div class="bI"><a href="#">ADD</a></div>
        </div>
      </section>
      <div class="mes">ONLINE Mobile First is available to <u>read for free.</u></div>
      <section class="sec2">
        <div class="text">
          <p>Our industry’s long wait for the complete, strategic guide to mobile web design is finally over. Former Yahoo! design architect and co-creator of Bagcheck Luke Wroblewski knows more about mobile experience than the rest of us, and packs all he knows into this entertaining, to-the-point guidebook. Its data-driven strategies and battle tested techniques will make you a master of mobile—and improve your non-mobile design, too!</p>
        </div>
        <div class="texts">
          <h3><a href="#">CONTENTS</a></h3>
          <h4><a href="#">Part 1: Why Mobile First?</a></h4>
          <ol>
            <li><a href="#">Growth</a></li>
            <li><a href="#">Constraints</a></li>
            <li><a href="#">Capabilities</a></li>
          </ol>
          <h4><a href="#">Part 2: How to go Mobile</a></h4>
          <ol>
            <li><a href="#">Organization (Read this chapter online)</a></li>
            <li><a href="#">Actions</a></li>
            <li><a href="#">Inputs</a></li>
            <li><a href="#">Layout</a></li>
          </ol>
        </div>
      </section>
      <section class="sec3">
        <h1>RECOMMENDED WITH…</h1>
        <div class="text">
          <img src="img/ABA-cover-4_100x@3x.webp" alt="">
          <svg xmlns="http://www.w3.org/2000/svg" height="192px" viewBox="0 0 24 24" width="110px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
          <img src="img/aba-cover-6_a810ec60-d08b-4203-bc4e-0386e8935602_100x@3x.webp" alt="">
        </div>
        <div class="text">
          <h2>Responsive Web Design</h2>
          <h3>by ETHAN MARCOTTE</h3>
          <p>Harness the power in understanding principles and techniques of responsive web design, and learn how data-driven strategies can help you think mobile first.</p>
        </div>
        <h1>BUY BOTH AND SAVE UP TO 15%</h1>
        <div class="text">
          <div class="bar ba">
            <div class="bI"></div>
            <div class="bI"><a href="#">ADD</a></div>
            <div class="bI"></div>
          </div>
        </div>
      </section>
      <section class="sec4">
        <h1>WHAT PEOPLE ARE SAYING</h1>
        <div class="text">
          <p>Luke doesn’t just rely on his wondrous wit and marvellous writing style to make an overwhelmingly convincing argument for designing the mobile experience first; he also hammers home all of his points with oodles and oodles of scrumptious data.</p>
          <h3>—JEREMY KEITH</h3>
          <i>Author, HTML5 for Web Designers</i>
        </div>
        <div class="text">
          <p>This is the update to ‘Mobile Web Design’ I wish I’d written. It’s a concise opus filled to the brim with great examples of mobile design, supported by sound advice, research, and tips from Mr. W himself.</p>
          <h3>—CAMERON MOLL</h3>
          <i>Founder, Authentic Jobs</i>
        </div>
        <div class="text">
          <p>By coupling insightful design patterns to common-sense principles, Luke’s ‘Mobile First’ is the beginning of a quiet revolution, its title the rallying cry that should be on the lips of every web designer.</p>
          <h3>—ETHAN MARCOTTE</h3>
          <i>Author, Responsive Web Design</i>
        </div>
      </section>
      <section class="sec5">
        <h1>ABOUT THE AUTHOR</h1>
        <div class="text">
          <img src="img/author-luke-wroblewski.webp" alt="">
        </div>
        <div class="text">
          <p><u>Luke Wroblewski</u> is a product director at Google. He was formerly the CEO and cofounder of Polar and the Chief Product Officer and cofounder of <u>Bagcheck.</u> Luke is the author of three popular web design books (Mobile First, <u>Web Form Design</u>, and <u>Site-Seeing: A Visual Approach to Web Usability</u> ) in addition to many articles about digital product design and strategy. He founded <u>LukeW Ideation & Design</u> , a product strategy and design consultancy. He is also a top-rated speaker at conferences and companies around the world, and a cofounder and former board member of the Interaction Design Association (IxDA).</p>
        </div>
        <div class="text">
          <h1>ABOUT THE AUTHOR</h1>
          <ol>
            <li><a href="#"> <strong>ISBN:</strong> 978-1-937557-02-7</a></li>
            <li><a href="#"> <strong>Paperback:</strong> 123 pages</a></li>
            <li><a href="#"><strong>Published:</strong> Oct 18, 2011</a></li>
            <li><a href="#"><strong>Also available in:</strong> <u>Chinese, French, Korean, Russian</u></a></li>
          </ol>
        </div>
      </section>
      <section class="sec6">
        <h1>ALSO FROM A BOOK APART</h1>
        <div class="text">
          <img src="img/ABA-cover-15_a625ad39-3b8e-4d26-b626-88899794cd29_100x@3x.webp" alt="">
          <h2>Responsive Design: Patterns & Principles</h2>
          <i>by ETHAN MARCOTTE</i>
          <a href="#">BUY</a>
        </div>
        <div class="text">
          <img src="img/aba-cover-31_100x@3x.webp" alt="">
          <h2>Responsive Design: Patterns & Principles</h2>
          <i>by ETHAN MARCOTTE</i>
          <a href="#">BUY</a>
        </div>
        <div class="text">
          <img src="img/aba-briefs-cover-7_07fe9ea6-2b1c-4041-a973-3d3e60f28032_100x@3x.webp" alt="">
          <h2>Responsive Design: Patterns & Principles</h2>
          <i>by ETHAN MARCOTTE</i>
          <a href="#">BUY</a>
        </div>
      </section>
      <footer>
        <div class="footerTop">
          <div class="text">
            <h2>newsletter</h2>
            <h3>Email Address</h3>
            <input type="text">
            <button>Subscribe</button>
            <p>By signing up, you agree to our <u>Terms of Use.</u></p>
          </div>
          <div class="text" v-for="list in footerMenu">
            <h2>{{list.h2}}</h2>
            <h3>{{list.h3_1}}</h3>
            <h3>{{list.h3_2}}</h3>
            <h3>{{list.h3_3}}</h3>
          </div>
        </div>
        <div class="footerBottom">
          <div class="text">
            <b>© Copyright 2020, A Book Apart, LLC</b>
            <u>Privacy Policy</u>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
