<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/initial.min.css">
    <link rel="stylesheet" href="css/shorStyle.css">
    <link rel="stylesheet" href="css/style980.css">
    <title></title>
  </head>
  <body>
    <div id="app">
      <header id="mainmenu">
        <div class="logo">
          <div class="img"></div>
          <h1><a href="index.html">A BOOK APART</a></h1>
      </div>
      <ul class="menu1">
        <li v-for="list in mainMenu">
          <a v-bind:href="list.href">{{list.name}}</a>
        </li>
      </ul>
      <ul class="menu2">
        <li><div class="img"><img src="./img/sms.png" width="15px"></div></li>
        <li><a href="#">cart</a></li>
      </ul>
      </header>
      <main>
        <section class="sec1">
          <ul>
            <li><a href="#">books</a></li>
            <li><a href="#">starter packs</a></li>
            <li><a href="#">gears</a></li>
            <li><a href="#">giftcards</a></li>
          </ul>
        </section>
        <section class="sec2">
          <h1>books</h1>
          <div class="imgAll">
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_212x.png?v=1603205699img/ABA-cover-4_100x@3x.webp" alt="">
              <h4>Donna Spencer</h4>
              <h5>Presenting Design Work</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-33_212x.png?v=1598365557" alt="">
              <h4>David Dylan Thomas</h4>
              <h5>Design for Cognitive Bias</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_212x.png?v=1594738234" alt="">
              <h4>Jason Garber</h4>
              <h5>Practical Pair Programming</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-32_212x.png?v=1579299269" alt="">
              <h4>Senongo Akpem</h4>
              <h5>Cross-Cultural Design</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_212x.png?v=1569338957" alt="">
              <h4>Yesenia Perez-Cruz</h4>
              <h5>Expressive Design Systems</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-30_212x.png?v=1560252476" alt="">
              <h4>Lara Hogan</h4>
              <h5>Resilient Management</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-29_212x.png?v=1553027067" alt="">
              <h4>Lisa Maria Marquis</h4>
              <h5>Everyday Information Architecture</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-28_212x.png?v=1539110429" alt="">
              <h4>Jason Grigsby</h4>
              <h5>Progressive Web Apps</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-9-proof_212x.png?v=1538442861" alt="">
              <h4>Scott Kubie</h4>
              <h5>Writing for Designers</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-8_300x_2x_a4df8561-4762-4f7d-b4d3-78f61a98abb6_212x.png?v=1548453594" alt="">
              <h4>Mat Marquis</h4>
              <h5>Image Performance</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-27_212x.png?v=1532470792" alt="">
              <h4>Tim Brown</h4>
              <h5>Flexible Typesetting</h5>
            </div>
            <div class="imgs">
              <img src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-26_212x.png?v=1522680500" alt="">
              <h4>Jeremy Keith</h4>
              <h5>Going Offline</h5>
            </div>
          </div>
        </section>
        <section class="sec3">
          <h1>starter packs</h1>
          <div class="imgAll">
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>COLLABORATIVE DESIGN</h2>
              <h4>Work better, together.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>COMPASSIONATE DESIGN</h2>
              <h4>Create kinder, more connected design.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>DESIGN PROCESS</h2>
              <h4>Your design process, advanced.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>RESPONSIVE DESIGN</h2>
              <h4>Get responsive with every project.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>IMAGES AND ANIMATION</h2>
              <h4>Make your site look great and move swiftly.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>CONTENT STRATEGY</h2>
              <h4>Corral your content strategy.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>DESIGN BUSINESS</h2>
              <h4>Manage, sell, and buy design like a pro.</h4>
            </div>
            <div class="imgs">
              <img class="pack-grid__image" src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-11_48x.png?v=1603205699" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-briefs-cover-10_48x.png?v=1594738234" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/aba-cover-31_48x.png?v=1569338957" alt="">
              <img class="pack-grid__image"  src="//cdn.shopify.com/s/files/1/0051/7692/products/ABA-cover-12_48x.png?v=1463456298" alt="">
              <h2>FRONT-END FUNDAMENTALS</h2>
              <h4>Essential languages, and then some.</h4>
            </div>
          </div>
        </section>
        <section class="sec4">
          <h1>gears</h1>
          <div class="imgs">
            <img src="//cdn.shopify.com/s/files/1/0051/7692/products/mug-4-1x1_c04cd591-4848-43f9-a2ae-941c5fb5a96c_212x.jpg?v=1604697986" alt="">
            <h5>The *10* Mug</h5>
          </div>
          <div class="imgs">
            <img src="//cdn.shopify.com/s/files/1/0051/7692/products/tote-colors-1x1_212x.jpg?v=1604952210" alt="">
            <h5>The *10* Tote Bag</h5>
          </div>
          <div class="imgs">
            <img src="//cdn.shopify.com/s/files/1/0051/7692/products/towel-1-sq_66af1282-676a-4537-8deb-765974b20769_212x.jpg?v=1599172529" alt="">
            <h5>The *10* Towel</h5>
          </div>
        </section>
        <section class="sec5">
          <div class="imgs">
            <h3>GIFT CARDS</h3>
          </div>
        </section>
      </main>
      <footer>
        <div class="footerTop">
          <div class="text">
            <h2>newsletter</h2>
            <h3>Email Address</h3>
            <input type="text">
            <button>Subscribe</button>
            <p>By signing up, you agree to our <u>Terms of Use.</u></p>
          </div>
          <div class="text" v-for="list in footerMenu">
            <h2>{{list.h2}}</h2>
            <h3>{{list.h3_1}}</h3>
            <h3>{{list.h3_2}}</h3>
            <h3>{{list.h3_3}}</h3>
          </div>
        </div>
        <div class="footerBottom">
          <div class="text">
            <b>© Copyright 2020, A Book Apart, LLC</b>
            <u>Privacy Policy</u>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
